
page-login .fther {
    height: 30%;
    background-image: url('../../assets/imgs/backg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 170px;
}

page-login .register {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
}

page-login .register input {
    direction: rtl;
    padding: 15px;
    width: 100%;
    border: 0;
    padding-bottom: 0px;
    padding-right: 0px;
    color: #fff;
    background-color: transparent;
}

page-login .register h2 {
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

page-login .register h2 > span{
    color: #fffa65;
}

page-login .register p {
    font-size: 17px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
page-login .register .logbut {
    text-align: center;
    margin-top: 30px;
}

page-login .register .logbut p{
    margin-top: 10px
}

page-login .register .logbut p > span {
    color: #fffa65;
}

page-login .register button {
    background: #fffa65;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: 0px 3px 3px rgb(0, 0, 0);
}

.loaddire {
    font-family: 'Cairo', sans-serif;
}

page-login .login {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
}

page-login .login input {
    direction: rtl;
    padding: 15px;
    width: 100%;
    border: 0;
    padding-bottom: 0px;
    padding-right: 0px;
    color: #fff;
    background-color: transparent;
}

page-login .login h2 {
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

page-login .login h2 > span{
    color: #fffa65;
}

page-login .login p {
    font-size: 17px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

page-login .login .logbut {
    text-align: center;
    margin-top: 30px;
}

page-login .login .logbut p{
    margin-top: 10px;
}

page-login .login .logbut p > span {
    color: #fffa65;
}

page-login .login button {
    background: #fffa65;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: 0px 3px 3px rgb(0, 0, 0);
}

.loaddire {
    font-family: 'Cairo', sans-serif;
    color: #000;
}