<!--
  Generated template for the AddproductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title style="text-align: right">اضافه منتج</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="header-content" id="header-content">
  
        <div class="content">
            <div class="singupview">
        
              <div class="imagedev" *ngIf="imagecheck" [ngStyle]="{'background-image': 'url(' + imageurl + ')'}"></div>
    
    
                <div class="myimage" (click)="takePhoto()" *ngIf="!imagecheck">
                    <div class="myimage-content">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <p>رفع صورة</p>
                  </div>
                </div>
    
        <div class="inputs">
        
        <!-- singup view-->
       
        
            <div class="email">
              <input type="text" placeholder="الاسم" [(ngModel)]="name" required>        
            </div>      
            <div class="pass">
                <input type="number" placeholder=" السعر" [(ngModel)]="price" required> 
            </div>
            <div class="input-group">
                <textarea class="form-control custom-control" rows="3" style="text-align: right" placeholder=" التفاصيل" [(ngModel)]="desc"></textarea>     
            </div>
            
            <div class="logorreg">
              <button ion-button color="secondary" outline (click)="addfod()" >انشاء</button>
            </div>
        </div>
        
        
        </div>
        
        </div>
        
        </div>
</ion-content>
